html, body {
  height: 100%;
}

/* list-page */

.crossed-out {
  text-decoration: line-through;
}

.blue {
  color: #0d6efd;
}
.indigo {
  color: #6610f2;
}
.pink {
  color: #d63384;
}
.red {
  color: #dc3545;
}
.orange {
  color: #fd7e14;
}
.yellow {
  color: #ffc107;
}
.green {
  color: #198754;
}
.teal {
  color: #20c997;
}
.cyan {
  color: #0dcaf0;
}
